$color-primary: #18181a;

body {
  background: $color-primary;
}

.cursor {
  display: none;

  @media (min-width: 1024px) {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease;
    pointer-events: none;
  }

  @media screen and (hover: none), screen and (pointer: coarse) {
    display: none;
  }

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(
      to right top,
      #d16ba5,
      #c777b9,
      #ba83ca,
      #aa8fd8,
      #9a9ae1,
      #8aa7ec,
      #79b3f4,
      #69bff8,
      #52cffe,
      #41dfff,
      #46eefa,
      #5ffbf1
    );
    border-radius: 45%;
    opacity: 0.45;
  }

  &__overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    backdrop-filter: hue-rotate(300deg) blur(65px);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-primary;
      background-image: url(/assets/svg/noise.svg);
      background-size: contain;
      background-blend-mode: color-burn;
      opacity: 0.2;
      content: '';
    }
  }
}
